/* ### CODE ### */

code,
kbd,
samp,
pre {
    font-family: theme(fontFamily.mono);
    font-weight: theme(fontWeight.semibold);
    font-size: theme(fontSize.0);
    font-size: 0.85em;
    max-inline-size: max-content;
    min-inline-size: 0;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    text-align: left;
    line-height: theme(lineHeight.3);
    hyphens: none;
    overflow-x: auto;
}

pre {
    color: var(--code-on-surface, var(--neutral-on-surface-0));
    background-color: var(--code-surface, var(--neutral-surface-1));
    /* font-weight: theme(fontWeight.light); */
    padding-block: theme(spacing.xs-s);
    padding-inline: theme(spacing.s-l);
    border-radius: theme(borderRadius.lg);
}

pre > code {
    font-weight: theme(fontWeight.light);
}

:not(pre) > code {
    color: var(--neutral-on-surface-0);
    font-size: 0.85em;
    padding-block: 0.1em;
    padding-inline: 0.075em;
    border-radius: theme(borderRadius.md);
}

pre code::before {
    content: none;
}

pre code::after {
    content: none;
}

code::before {
    content: "`";
}

code::after {
    content: "`";
}

kbd,
var {
    padding-block: 0.25em;
    padding-inline: 0.5em;
    margin-inline: 0.1em;
    background: var(--neutral-surface-0);
    border: var(--border-width-2) solid var(--neutral-border-0);
    border-radius: theme(borderRadius.sm);
    color: var(--neutral-on-surface-0);
}
