/* ### CODE ### */
code,
kbd,
samp,
pre {
    font-family: theme(fontFamily.mono);
    font-weight: theme(fontWeight.semibold);
    font-size: theme(fontSize.0);
    max-inline-size: max-content;
    min-inline-size: 0;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    text-align: left;
    line-height: theme(lineHeight.3);
    hyphens: none;
    overflow: auto;
}

pre {
    color: var(--code-on-surface, var(--neutral-on-surface-0));
    background-color: var(--code-surface, var(--neutral-surface-1));
    padding-block: theme(spacing.xs-m);
    padding-inline: theme(spacing.s-l);
    border-radius: theme(borderRadius.lg);
}

:not(pre) > code {
    color: var(--on-background);
    font-size: theme(fontSize.1);
    padding-block: 0.1em;
    padding-inline: 0.075em;
    border-radius: theme(borderRadius.md);
}

pre code::before {
    content: none;
}

pre code::after {
    content: none;
}

code::before {
    content: "`";
}

code::after {
    content: "`";
}

kbd,
var {
    padding-block: 0.01em;
    padding-inline: 0.4em;
    border: solid 2px;
    border-radius: theme(borderRadius.md);
}
