input[type="range"] {
    margin: 0.4em 0;
    padding: 0.4em 0;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.35em;
    transition: 0.2s;
    background: var(--neutral-surface-3);
    border-radius: 0.2em;
}

input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0 1px 1px #000, 0 0 1px #0d0d0d;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    background: var(--neutral-border-0);
    -webkit-appearance: none;
    margin-top: -0.25em;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--neutral-surface-4);
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 0.3em;
    transition: 0.2s;
    background: var(--neutral-surface-0);
    border-radius: 0.2em;
}

input[type="range"]::-moz-range-thumb {
    /* box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d; */
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    background: var(--neutral-border-0);
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 0.45em;
    background: transparent;
    border-color: transparent;
    border-width: 0.6em 0;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background: var(--neutral-surface-0);
    border: 0.1em solid #010101;
    border-radius: 0.1em;
    /* box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d; */
}

input[type="range"]::-ms-fill-upper {
    background: var(--neutral-surface-0);
    border: 0.1em solid #010101;
    border-radius: 0.1em;
    /* box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d; */
}

input[type="range"]::-ms-thumb {
    box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
    border: 0.1em solid #000;
    height: 0.8em;
    width: 0.8em;
    border-radius: 50%;
    background: var(--neutral-border-0);
}

input[type="range"]:focus::-ms-fill-lower {
    background: var(--neutral-surface-0);
}

input[type="range"]:focus::-ms-fill-upper {
    background: var(--neutral-surface-0);
}
