body {
    color: var(--neutral-on-surface-0);
    background: var(--neutral-surface-0);
    font-size: var(--text-1);
    font-family: var(--font-sans);
    line-height: var(--leading-2);
    word-wrap: break-word;
    letter-spacing: var(--tracking-00);
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    line-height: var(--leading-0);
    letter-spacing: var(--tracking-000);
}

h1 {
    font-size: var(--text-5);
}

h2 {
    font-size: var(--text-4);
}

h3 {
    font-size: var(--text-3);
}

p,
li,
blockquote:not([class]) {
    max-inline-size: var(--content-width-4);
}

h1,
h2,
h3 {
    max-inline-size: var(--content-width-1);
}

blockquote:not([class]) {
    font-family: var(--font-serif);
    font-size: var(--text-2);
}

blockquote:not([class]) p:last-of-type {
    font-family: var(--font-sans);
    font-size: var(--text-1);
    font-weight: var(--font-normal);
}

svg {
    height: 2ex;
    width: auto;
    flex: none;
}

[role="list"] {
    padding: 0;
}

/* Base interactive elements */

a {
    text-decoration: none;
    color: var(--primary-on-surface-1);
}

a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-surface-4);
}

address {
    font-style: normal;
}

:where(a[href^="mailto\:"])::before {
    content: "📧 ";
}

:where(a[href^="tel\:"])::before {
    content: "📞 ";
}

:where(a[href^="sms\:"])::before {
    content: "💬 ";
}

mark {
    background-color: var(--primary-solid-9);
    border-radius: var(--border-radius-2);
    padding: 0 0.2em 0 0.2em;
    color: #000;
}

a > code,
a > strong {
    color: inherit;
}

:focus {
    outline: var(--border-width-2) var(--primary-border-1);
    outline-offset: 0.3ch;
}

:target {
    scroll-margin-top: 2ex;
}

main:focus {
    outline: none;
}

::selection {
    color: var(--neutral-surface-0);
    background: var(--neutral-on-surface-0);
}

/* Base Animations */

button,
input,
textarea {
    transition: background-color var(--animation-duration) linear,
        border-color var(--animation-duration) linear,
        color var(--animation-duration) linear,
        box-shadow var(--animation-duration) linear,
        transform var(--animation-duration) ease;
}
