/* ### DEBUG ### */

.debug {
  outline: theme(borderWidth.1) solid;
  outline-offset: var(--debug-spacing, theme(spacing.2xs));
  outline-color: var(--debug-color, var(--neutral-on-surface-0));
}
.debug-r {
  outline: theme(borderWidth.3) solid;
  outline-offset: theme(spacing.2xs);
  outline-color: var(--debug-color, var(--neutral-on-surface-0));
}
.debug-r * {
  outline: theme(borderWidth.2) solid;
  outline-offset: theme(spacing.3xs);
  outline-color: var(--debug-color, var(--neutral-on-surface-0));
}
