/* ### THE STACK ### */
.stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stack > * + * {
    margin-block-start: var(--stack-gap, 1em);
}
.stack:only-child {
    block-size: 100%;
}
.stack > [data-stack-split] {
    margin-block-end: auto;
}
/* ### THE CENTER ### */
.center {
    box-sizing: content-box;
    max-inline-size: var(--center-width, var(--content-width-4));
    margin-inline: auto;
    position: relative;
    padding-inline: var(--center-padding, var(--space-s-l));
}
/* ### THE BOX ### */
.box {
    padding: var(--space-s-l);
    border: var(--border-width-2) solid;
    outline: var(--border-width-3) transparent;
    outline-offset: calc(var(--border-width-3) * -1);
    color: var(--neutral-on-surface-0);
    background-color: var(--neutral-surface-0);
}
.box * {
    color: inherit;
}
.box.invert {
    color: var(--neutral-surface-0);
    background-color: var(--neutral-on-surface-0);
}
/* ### THE SIDEBAR ### */
.sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-gap, var(--space-s-l));
}
.sidebar > :first-child {
    flex-basis: var(--sidebar-width, var(--space-5xl));
    flex-grow: 1;
}
.sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--sidebar-threshold, 50%);
}
.sidebar[data-direction="rtl"] {
    flex-direction: row-reverse;
}
/* ### THE CLUSTER ### */
.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cluster-gap, var(--space-s-l));
    justify-content: var(--cluster-justify, start);
    align-items: var(--cluster-align, center);
}
/* ### THE GRID ### */
.auto-grid {
    display: grid;
    gap: var(--grid-gap, var(--space-s-l));
    grid-template-columns: repeat(
        var(--grid-placement, auto-fill),
        minmax(var(--grid-min-width, 16rem), 1fr)
    );
}
.auto-grid[data-layout="2/2"] {
    --grid-placement: auto-fit;
    --grid-min-width: clamp(16rem, 50vw, 26rem);
}
.auto-grid[data-layout="3/3"] {
    --grid-placement: auto-fit;
    --grid-min-width: clamp(16rem, 33%, 20rem);
}
.auto-grid[data-rows="masonry"] {
    grid-template-rows: masonry;
    align-items: start;
}
/* ### THE SWITCHER ### */
.switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--switcher-gap, var(--space-s-l));
}
.switcher > * {
    flex-grow: 1;
    flex-basis: calc((var(--switcher-threshold, 30rem) - 100%) * 999);
}
/* ### THE COVER ### */
.cover {
    display: flex;
    flex-direction: column;
    min-block-size: var(--cover-min-block, 100vh);
    padding: 0;
}
.cover > * {
    margin-block: var(--cover-spacing, var(--space-xs-m));
}
.cover-target {
    margin-block: auto;
    align-self: center;
}
.cover > :first-child:not(.cover-target) {
    margin-block: 0;
}
.cover > :last-child:not(.cover-target) {
    margin-block: 0;
}
/* ### THE FRAME ### */
.frame {
    overflow: hidden;
    aspect-ratio: var(--frame-ratio, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame > img,
.frame > video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}
/* ### THE REEL ### */
.reel {
    display: flex;
    gap: var(--reel-gap, var(--space-s-l));
    overflow-x: auto;
    overflow-y: hidden;
    block-size: auto;
    border-width: var(--reel-border, var(--border-width-3));
}
.reel > img {
    block-size: 100%;
    width: auto;
}
.reel > * {
    flex: 0 0 var(--reel-item-width, var(--space-5xl));
    margin: var(--reel-item-margin, var(--space-s-l));
    margin-inline-end: 0;
}
.reel::after {
    content: "";
    flex-basis: var(--reel-after-margin, var(--space-3xs));
    flex-shrink: 0;
}
/* ### THE IMPOSTER ### */
.imposter {
    position: var(--imposter-positioning, absolute);
    inset-block-start: var(--imposter-block-start, 50%);
    inset-inline-start: var(--imposter-inline-start, 50%);
    transform: translate(-50%, -50%);
}
.imposter-contained {
    overflow: auto;
    max-inline-size: calc(100% - (var(--imposter-margin, 0px) * 2));
    max-block-size: calc(100% - (var(--imposter-margin, 0px) * 2));
}
/* ### THE ICON ### */
.icon {
    height: 0.75em;
    height: 1cap;
    width: 0.75em;
    width: 1cap;
}
.with-icon {
    display: inline-flex;
    align-items: baseline;
}
.with-icon .icon {
    margin-inline-end: var(--icon-space, 0.5em);
}
/* ### THE REGION ### */
.region {
    padding-block: var(--region-gap, var(--space-l-3xl));
}
/* THE FULL BLEED */
.full-bleed {
    inline-size: 100vw;
    margin-inline-start: calc(50% - 50vw);
}
.full-bleed img {
    inline-size: 100%;
    object-fit: cover;
    max-block-size: var(--full-bleed-cap, 50rem);
}
