/* FLUID TYPE AND SPACE SCALE */
:root {
    /* FLUID TYPE SCALE */
    /* 16-20_1.2-1.414 */
    --text-000: clamp(0.63rem, calc(0.71rem + -0.1vw), 0.69rem);
    --text-00: clamp(0.83rem, calc(0.82rem + 0.07vw), 0.88rem);
    --text-0: clamp(1rem, calc(0.93rem + 0.36vw), 1.25rem);
    --text-1: clamp(1.2rem, calc(1.04rem + 0.81vw), 1.77rem);
    --text-2: clamp(1.44rem, calc(1.14rem + 1.51vw), 2.5rem);
    --text-3: clamp(1.73rem, calc(1.21rem + 2.58vw), 3.53rem);
    --text-4: clamp(2.07rem, calc(1.24rem + 4.18vw), 5rem);
    --text-5: clamp(2.49rem, calc(1.18rem + 6.54vw), 7.07rem);
    --text-6: clamp(2.99rem, calc(0.98rem + 10.01vw), 9.99rem);
    --text-7: clamp(3.58rem, calc(0.57rem + 15.06vw), 14.13rem);
}

:root {
    /* FLUID SPACE SCALE */
    /* 16-20 */
    /* ONE-UP PAIRS */
    --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
    --space-2xs: clamp(0.5rem, calc(0.46rem + 0.18vw), 0.63rem);
    --space-xs: clamp(0.75rem, calc(0.7rem + 0.27vw), 0.94rem);
    --space-s: clamp(1rem, calc(0.93rem + 0.36vw), 1.25rem);
    --space-m: clamp(1.5rem, calc(1.39rem + 0.54vw), 1.88rem);
    --space-l: clamp(2rem, calc(1.86rem + 0.71vw), 2.5rem);
    --space-xl: clamp(3rem, calc(2.79rem + 1.07vw), 3.75rem);
    --space-2xl: clamp(4rem, calc(3.71rem + 1.43vw), 5rem);
    --space-3xl: clamp(6rem, calc(5.57rem + 2.14vw), 7.5rem);
    --space-4xl: clamp(8rem, calc(7.43rem + 2.86vw), 10rem);
    --space-5xl: clamp(12rem, calc(11.14rem + 4.29vw), 15rem);
    --space-6xl: clamp(16rem, calc(14.86rem + 5.71vw), 20rem);

    /* ONE-UP PAIRS */
    --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.5rem, calc(0.38rem + 0.63vw), 0.94rem);
    --space-xs-s: clamp(0.75rem, calc(0.61rem + 0.71vw), 1.25rem);
    --space-s-m: clamp(1rem, calc(0.75rem + 1.25vw), 1.88rem);
    --space-m-l: clamp(1.5rem, calc(1.21rem + 1.43vw), 2.5rem);
    --space-l-xl: clamp(2rem, calc(1.5rem + 2.5vw), 3.75rem);
    --space-xl-2xl: clamp(3rem, calc(2.43rem + 2.86vw), 5rem);
    --space-2xl-3xl: clamp(4rem, calc(3rem + 5vw), 7.5rem);
    --space-3xl-4xl: clamp(6rem, calc(4.86rem + 5.71vw), 10rem);
    --space-4xl-5xl: clamp(8rem, calc(6rem + 10vw), 15rem);
    --space-5xl-6xl: clamp(12rem, calc(9.71rem + 11.43vw), 20rem);

    /* TWO-UP PAIRS */
    --space-3xs-xs: clamp(0.25rem, calc(0.05rem + 0.98vw), 0.94rem);
    --space-2xs-s: clamp(0.5rem, calc(0.29rem + 1.07vw), 1.25rem);
    --space-xs-m: clamp(0.75rem, calc(0.43rem + 1.61vw), 1.88rem);
    --space-s-l: clamp(1rem, calc(0.57rem + 2.14vw), 2.5rem);
    --space-m-xl: clamp(1.5rem, calc(0.86rem + 3.21vw), 3.75rem);
    --space-l-2xl: clamp(2rem, calc(1.14rem + 4.29vw), 5rem);
    --space-xl-3xl: clamp(3rem, calc(1.71rem + 6.43vw), 7.5rem);
    --space-2xl-4xl: clamp(4rem, calc(2.29rem + 8.57vw), 10rem);
    --space-3xl-5xl: clamp(6rem, calc(3.43rem + 12.86vw), 15rem);
    --space-4xl-6xl: clamp(8rem, calc(4.57rem + 17.14vw), 20rem);

    /* THREE-UP PAIRS */
    --space-3xs-s: clamp(0.25rem, calc(-0.04rem + 1.43vw), 1.25rem);
    --space-2xs-m: clamp(0.5rem, calc(0.11rem + 1.96vw), 1.88rem);
    --space-xs-l: clamp(0.75rem, calc(0.25rem + 2.5vw), 2.5rem);
    --space-s-xl: clamp(1rem, calc(0.21rem + 3.93vw), 3.75rem);
    --space-m-2xl: clamp(1.5rem, calc(0.5rem + 5vw), 5rem);
    --space-l-3xl: clamp(2rem, calc(0.43rem + 7.86vw), 7.5rem);
    --space-xl-4xl: clamp(3rem, calc(1rem + 10vw), 10rem);
    --space-2xl-5xl: clamp(4rem, calc(0.86rem + 15.71vw), 15rem);
    --space-3xl-6xl: clamp(6rem, calc(2rem + 20vw), 20rem);

    /* FOUR-UP PAIRS */
    --space-3xs-m: clamp(0.25rem, calc(-0.21rem + 2.32vw), 1.88rem);
    --space-2xs-l: clamp(0.5rem, calc(-0.07rem + 2.86vw), 2.5rem);
    --space-xs-xl: clamp(0.75rem, calc(-0.11rem + 4.29vw), 3.75rem);
    --space-s-2xl: clamp(1rem, calc(-0.14rem + 5.71vw), 5rem);
    --space-m-3xl: clamp(1.5rem, calc(-0.21rem + 8.57vw), 7.5rem);
    --space-l-4xl: clamp(2rem, calc(-0.29rem + 11.43vw), 10rem);
    --space-xl-5xl: clamp(3rem, calc(-0.43rem + 17.14vw), 15rem);
    --space-2xl-6xl: clamp(4rem, calc(-0.57rem + 22.86vw), 20rem);

    /* FIVE-UP PAIRS */
    --space-3xs-l: clamp(0.25rem, calc(-0.39rem + 3.21vw), 2.5rem);
    --space-2xs-xl: clamp(0.5rem, calc(-0.43rem + 4.64vw), 3.75rem);
    --space-xs-2xl: clamp(0.75rem, calc(-0.46rem + 6.07vw), 5rem);
    --space-s-3xl: clamp(1rem, calc(-0.86rem + 9.29vw), 7.5rem);
    --space-m-4xl: clamp(1.5rem, calc(-0.93rem + 12.14vw), 10rem);
    --space-l-5xl: clamp(2rem, calc(-1.71rem + 18.57vw), 15rem);
    --space-xl-6xl: clamp(3rem, calc(-1.86rem + 24.29vw), 20rem);
}

/* TYPOGRAPHY */
:where(html) {
    /* TYPOGRAPHY */
    /* TW: fontFamily */
    --font-sans: Inter, ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: "Tiempos Text", ui-serif, Georgia, Cambria, "Times New Roman",
        Times, serif;
    --font-mono: "Dank Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, "Liberation Mono", "Courier New", monospace;
    /* TW: letterSpacing */
    --tracking-000: -0.075ch;
    --tracking-00: -0.05ch;
    --tracking-0: -0.025ch;
    --tracking-1: 0;
    --tracking-2: 0.025ch;
    --tracking-3: 0.05ch;
    --tracking-4: 0.1ch;
    /* TW: lineHeight */
    --leading-00: 0.95;
    --leading-0: 1.1;
    --leading-1: 1.25;
    --leading-2: 1.375;
    --leading-3: 1.5;
    --leading-4: 1.75;
    --leading-5: 2;
    /* CUSTOM: contentWidth */
    --content-width-1: 20ch;
    --content-width-2: 45ch;
    --content-width-3: 60ch;
    --content-width-4: 65ch;
    --content-width-5: 70ch;
    /* TW: fontWeight  */
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
}

/* UTILITY */
:root {
    /* TW: borderWidth */
    --border-width: 0px;
    --border-width-1: 1px;
    --border-width-2: 2px;
    --border-width-3: 4px;
    --border-width-4: 8px;
    --border-width-5: 16px;
    /* TW: borderWidth */
    --border-radius-none: 0px;
    --border-radius-s: 0.125rem;
    --border-radius: 0.25rem;
    --border-radius-m: 0.375rem;
    --border-radius-l: 0.5rem;
    --border-radius-xl: 0.75rem;
    --border-radius-2xl: 1rem;
    --border-radius-3xl: 1.5rem;
    --border-radius-full: 9999px;
}

:root {
    /* BREAKPOINTS */
    --breakpoint-md: 50em;
    --breakpoint-lg: 80em;
}

:root {
    /* ANIMATIONS */
    --animation-duration: 125ms;
}
