/* COLOR SCHEMES */

/* LIGHT SCHEME */
:where(:root) {
    /* NEUTRAL */
    --neutral-surface-0: theme(colors.scheme.light.neutral.surface[0]);
    --neutral-surface-1: theme(colors.scheme.light.neutral.surface[1]);
    --neutral-surface-2: theme(colors.scheme.light.neutral.surface[2]);
    --neutral-surface-3: theme(colors.scheme.light.neutral.surface[3]);
    --neutral-surface-4: theme(colors.scheme.light.neutral.surface[4]);
    --neutral-on-surface-0: theme(colors.scheme.light.neutral.on-surface[0]);
    --neutral-on-surface-1: theme(colors.scheme.light.neutral.on-surface[1]);
    --neutral-border-0: theme(colors.scheme.light.neutral.border[0]);
    --neutral-border-1: theme(colors.scheme.light.neutral.border[1]);
    --neutral-border-2: theme(colors.scheme.light.neutral.border[2]);
    --neutral-solid-0: theme(colors.scheme.light.neutral.solid[0]);
    --neutral-solid-1: theme(colors.scheme.light.neutral.solid[1]);
    /* PRIMARY */
    --primary-surface-0: theme(colors.scheme.light.primary.surface[0]);
    --primary-surface-1: theme(colors.scheme.light.primary.surface[1]);
    --primary-surface-2: theme(colors.scheme.light.primary.surface[2]);
    --primary-surface-3: theme(colors.scheme.light.primary.surface[3]);
    --primary-surface-4: theme(colors.scheme.light.primary.surface[4]);
    --primary-on-surface-0: theme(colors.scheme.light.primary.on-surface[0]);
    --primary-on-surface-1: theme(colors.scheme.light.primary.on-surface[1]);
    --primary-border-0: theme(colors.scheme.light.primary.border[0]);
    --primary-border-1: theme(colors.scheme.light.primary.border[1]);
    --primary-border-2: theme(colors.scheme.light.primary.border[2]);
    --primary-solid-0: theme(colors.scheme.light.primary.solid[0]);
    --primary-solid-1: theme(colors.scheme.light.primary.solid[1]);
    /* OVERLAY */
    --overlay-white-0: theme(colors.overlay.white[1]);
    --overlay-white-1: theme(colors.overlay.white[2]);
    --overlay-white-2: theme(colors.overlay.white[3]);
    --overlay-white-3: theme(colors.overlay.white[4]);
    --overlay-white-4: theme(colors.overlay.white[5]);
    --overlay-white-5: theme(colors.overlay.white[6]);
    --overlay-white-6: theme(colors.overlay.white[7]);
    --overlay-white-7: theme(colors.overlay.white[8]);
    --overlay-white-8: theme(colors.overlay.white[9]);
    --overlay-white-9: theme(colors.overlay.white[10]);
    --overlay-white-10: theme(colors.overlay.white[11]);
    --overlay-white-11: theme(colors.overlay.white[12]);
    --overlay-black-0: theme(colors.overlay.black[1]);
    --overlay-black-1: theme(colors.overlay.black[2]);
    --overlay-black-2: theme(colors.overlay.black[3]);
    --overlay-black-3: theme(colors.overlay.black[4]);
    --overlay-black-4: theme(colors.overlay.black[5]);
    --overlay-black-5: theme(colors.overlay.black[6]);
    --overlay-black-6: theme(colors.overlay.black[7]);
    --overlay-black-7: theme(colors.overlay.black[8]);
    --overlay-black-8: theme(colors.overlay.black[9]);
    --overlay-black-9: theme(colors.overlay.black[10]);
    --overlay-black-10: theme(colors.overlay.black[11]);
    --overlay-black-11: theme(colors.overlay.black[12]);
}

/* DARK SCHEME */
@media (prefers-color-scheme: dark) {
    :where(:root) {
        /* NEUTRAL */
        --neutral-surface-0: theme(colors.scheme.dark.neutral.surface[0]);
        --neutral-surface-1: theme(colors.scheme.dark.neutral.surface[1]);
        --neutral-surface-2: theme(colors.scheme.dark.neutral.surface[2]);
        --neutral-surface-3: theme(colors.scheme.dark.neutral.surface[3]);
        --neutral-surface-4: theme(colors.scheme.dark.neutral.surface[4]);
        --neutral-on-surface-0: theme(colors.scheme.dark.neutral.on-surface[0]);
        --neutral-on-surface-1: theme(colors.scheme.dark.neutral.on-surface[1]);
        --neutral-border-0: theme(colors.scheme.dark.neutral.border[0]);
        --neutral-border-1: theme(colors.scheme.dark.neutral.border[1]);
        --neutral-border-2: theme(colors.scheme.dark.neutral.border[2]);
        --neutral-solid-0: theme(colors.scheme.dark.neutral.solid[0]);
        --neutral-solid-1: theme(colors.scheme.dark.neutral.solid[1]);
        /* PRIMARY */
        --primary-surface-0: theme(colors.scheme.dark.primary.surface[0]);
        --primary-surface-1: theme(colors.scheme.dark.primary.surface[1]);
        --primary-surface-2: theme(colors.scheme.dark.primary.surface[2]);
        --primary-surface-3: theme(colors.scheme.dark.primary.surface[3]);
        --primary-surface-4: theme(colors.scheme.dark.primary.surface[4]);
        --primary-on-surface-0: theme(colors.scheme.dark.primary.on-surface[0]);
        --primary-on-surface-1: theme(colors.scheme.dark.primary.on-surface[1]);
        --primary-border-0: theme(colors.scheme.dark.primary.border[0]);
        --primary-border-1: theme(colors.scheme.dark.primary.border[1]);
        --primary-border-2: theme(colors.scheme.dark.primary.border[2]);
        --primary-solid-0: theme(colors.scheme.dark.primary.solid[0]);
        --primary-solid-1: theme(colors.scheme.dark.primary.solid[1]);
        /* OVERLAY */
        --overlay-white-0: theme(colors.overlay.white[1]);
        --overlay-white-1: theme(colors.overlay.white[2]);
        --overlay-white-2: theme(colors.overlay.white[3]);
        --overlay-white-3: theme(colors.overlay.white[4]);
        --overlay-white-4: theme(colors.overlay.white[5]);
        --overlay-white-5: theme(colors.overlay.white[6]);
        --overlay-white-6: theme(colors.overlay.white[7]);
        --overlay-white-7: theme(colors.overlay.white[8]);
        --overlay-white-8: theme(colors.overlay.white[9]);
        --overlay-white-9: theme(colors.overlay.white[10]);
        --overlay-white-10: theme(colors.overlay.white[11]);
        --overlay-white-11: theme(colors.overlay.white[12]);
        --overlay-black-0: theme(colors.overlay.black[1]);
        --overlay-black-1: theme(colors.overlay.black[2]);
        --overlay-black-2: theme(colors.overlay.black[3]);
        --overlay-black-3: theme(colors.overlay.black[4]);
        --overlay-black-4: theme(colors.overlay.black[5]);
        --overlay-black-5: theme(colors.overlay.black[6]);
        --overlay-black-6: theme(colors.overlay.black[7]);
        --overlay-black-7: theme(colors.overlay.black[8]);
        --overlay-black-8: theme(colors.overlay.black[9]);
        --overlay-black-9: theme(colors.overlay.black[10]);
        --overlay-black-10: theme(colors.overlay.black[11]);
        --overlay-black-11: theme(colors.overlay.black[12]);
    }
}

/* DATA CONTROLLED SCHEMES */
[data-scheme="light"] {
    /* NEUTRAL */
    --neutral-surface-0: theme(colors.scheme.light.neutral.surface[0]);
    --neutral-surface-1: theme(colors.scheme.light.neutral.surface[1]);
    --neutral-surface-2: theme(colors.scheme.light.neutral.surface[2]);
    --neutral-surface-3: theme(colors.scheme.light.neutral.surface[3]);
    --neutral-surface-4: theme(colors.scheme.light.neutral.surface[4]);
    --neutral-on-surface-0: theme(colors.scheme.light.neutral.on-surface[0]);
    --neutral-on-surface-1: theme(colors.scheme.light.neutral.on-surface[1]);
    --neutral-border-0: theme(colors.scheme.light.neutral.border[0]);
    --neutral-border-1: theme(colors.scheme.light.neutral.border[1]);
    --neutral-border-2: theme(colors.scheme.light.neutral.border[2]);
    --neutral-solid-0: theme(colors.scheme.light.neutral.solid[0]);
    --neutral-solid-1: theme(colors.scheme.light.neutral.solid[1]);
    /* PRIMARY */
    --primary-surface-0: theme(colors.scheme.light.primary.surface[0]);
    --primary-surface-1: theme(colors.scheme.light.primary.surface[1]);
    --primary-surface-2: theme(colors.scheme.light.primary.surface[2]);
    --primary-surface-3: theme(colors.scheme.light.primary.surface[3]);
    --primary-surface-4: theme(colors.scheme.light.primary.surface[4]);
    --primary-on-surface-0: theme(colors.scheme.light.primary.on-surface[0]);
    --primary-on-surface-1: theme(colors.scheme.light.primary.on-surface[1]);
    --primary-border-0: theme(colors.scheme.light.primary.border[0]);
    --primary-border-1: theme(colors.scheme.light.primary.border[1]);
    --primary-border-2: theme(colors.scheme.light.primary.border[2]);
    --primary-solid-0: theme(colors.scheme.light.primary.solid[0]);
    --primary-solid-1: theme(colors.scheme.light.primary.solid[1]);
    /* OVERLAY */
    --overlay-white-0: theme(colors.overlay.white[1]);
    --overlay-white-1: theme(colors.overlay.white[2]);
    --overlay-white-2: theme(colors.overlay.white[3]);
    --overlay-white-3: theme(colors.overlay.white[4]);
    --overlay-white-4: theme(colors.overlay.white[5]);
    --overlay-white-5: theme(colors.overlay.white[6]);
    --overlay-white-6: theme(colors.overlay.white[7]);
    --overlay-white-7: theme(colors.overlay.white[8]);
    --overlay-white-8: theme(colors.overlay.white[9]);
    --overlay-white-9: theme(colors.overlay.white[10]);
    --overlay-white-10: theme(colors.overlay.white[11]);
    --overlay-white-11: theme(colors.overlay.white[12]);
    --overlay-black-0: theme(colors.overlay.black[1]);
    --overlay-black-1: theme(colors.overlay.black[2]);
    --overlay-black-2: theme(colors.overlay.black[3]);
    --overlay-black-3: theme(colors.overlay.black[4]);
    --overlay-black-4: theme(colors.overlay.black[5]);
    --overlay-black-5: theme(colors.overlay.black[6]);
    --overlay-black-6: theme(colors.overlay.black[7]);
    --overlay-black-7: theme(colors.overlay.black[8]);
    --overlay-black-8: theme(colors.overlay.black[9]);
    --overlay-black-9: theme(colors.overlay.black[10]);
    --overlay-black-10: theme(colors.overlay.black[11]);
    --overlay-black-11: theme(colors.overlay.black[12]);
}

[data-scheme="dark"] {
    /* NEUTRAL */
    --neutral-surface-0: theme(colors.scheme.dark.neutral.surface[0]);
    --neutral-surface-1: theme(colors.scheme.dark.neutral.surface[1]);
    --neutral-surface-2: theme(colors.scheme.dark.neutral.surface[2]);
    --neutral-surface-3: theme(colors.scheme.dark.neutral.surface[3]);
    --neutral-surface-4: theme(colors.scheme.dark.neutral.surface[4]);
    --neutral-on-surface-0: theme(colors.scheme.dark.neutral.on-surface[0]);
    --neutral-on-surface-1: theme(colors.scheme.dark.neutral.on-surface[1]);
    --neutral-border-0: theme(colors.scheme.dark.neutral.border[0]);
    --neutral-border-1: theme(colors.scheme.dark.neutral.border[1]);
    --neutral-border-2: theme(colors.scheme.dark.neutral.border[2]);
    --neutral-solid-0: theme(colors.scheme.dark.neutral.solid[0]);
    --neutral-solid-1: theme(colors.scheme.dark.neutral.solid[1]);
    /* PRIMARY */
    --primary-surface-0: theme(colors.scheme.dark.primary.surface[0]);
    --primary-surface-1: theme(colors.scheme.dark.primary.surface[1]);
    --primary-surface-2: theme(colors.scheme.dark.primary.surface[2]);
    --primary-surface-3: theme(colors.scheme.dark.primary.surface[3]);
    --primary-surface-4: theme(colors.scheme.dark.primary.surface[4]);
    --primary-on-surface-0: theme(colors.scheme.dark.primary.on-surface[0]);
    --primary-on-surface-1: theme(colors.scheme.dark.primary.on-surface[1]);
    --primary-border-0: theme(colors.scheme.dark.primary.border[0]);
    --primary-border-1: theme(colors.scheme.dark.primary.border[1]);
    --primary-border-2: theme(colors.scheme.dark.primary.border[2]);
    --primary-solid-0: theme(colors.scheme.dark.primary.solid[0]);
    --primary-solid-1: theme(colors.scheme.dark.primary.solid[1]);
    /* OVERLAY */
    --overlay-white-0: theme(colors.overlay.white[1]);
    --overlay-white-1: theme(colors.overlay.white[2]);
    --overlay-white-2: theme(colors.overlay.white[3]);
    --overlay-white-3: theme(colors.overlay.white[4]);
    --overlay-white-4: theme(colors.overlay.white[5]);
    --overlay-white-5: theme(colors.overlay.white[6]);
    --overlay-white-6: theme(colors.overlay.white[7]);
    --overlay-white-7: theme(colors.overlay.white[8]);
    --overlay-white-8: theme(colors.overlay.white[9]);
    --overlay-white-9: theme(colors.overlay.white[10]);
    --overlay-white-10: theme(colors.overlay.white[11]);
    --overlay-white-11: theme(colors.overlay.white[12]);
    --overlay-black-0: theme(colors.overlay.black[1]);
    --overlay-black-1: theme(colors.overlay.black[2]);
    --overlay-black-2: theme(colors.overlay.black[3]);
    --overlay-black-3: theme(colors.overlay.black[4]);
    --overlay-black-4: theme(colors.overlay.black[5]);
    --overlay-black-5: theme(colors.overlay.black[6]);
    --overlay-black-6: theme(colors.overlay.black[7]);
    --overlay-black-7: theme(colors.overlay.black[8]);
    --overlay-black-8: theme(colors.overlay.black[9]);
    --overlay-black-9: theme(colors.overlay.black[10]);
    --overlay-black-10: theme(colors.overlay.black[11]);
    --overlay-black-11: theme(colors.overlay.black[12]);
}

[data-scheme="nord"] {
}
